
.card{
    background-color: rgb(216, 139, 216)!important;
}

html{
    min-height: 100%;
    position: relative;
}

 body{
    margin: 0;
    margin-bottom: 40px;
    background-color: purple!important;
}

footer{
    background-color:rgb(203, 243, 187)!important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: left;
}

.gameBoard{
    background-color:rgb(210, 177, 214)!important;
    width: 100%;
    height: 100%;
    position: inherit;
    border-color: springgreen;
}



  
